In [2]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
webD.get(url)
time.sleep(2)

In [27]:
elem = webD.find_elements_by_tag_name('td')

In [53]:
dicty = {}
dicty['Rank'] = []
dicty['Name'] = []
dicty['Artist'] = []
dicty['Uploaddate'] = []
dicty['Views'] = []

In [56]:
i = 4
while (i<184):
    dicty['Rank'].append(elem[i].text)
    dicty['Name'].append(elem[i + 1].text)
    dicty['Artist'].append(elem[i + 2].text)
    dicty['Uploaddate'].append(elem[i + 3].text)
    dicty['Views'].append(elem[i + 4].text)
    i += 6

In [57]:
wiki_df = pd.DataFrame({'Rank': dicty['Rank'], 'Name': dicty['Name'], 
                        'Artist': dicty['Artist'], 'Uploaddate': dicty['Uploaddate'], 'Views': dicty['Views']})

In [58]:
wiki_df

,Rank,Name,Artist,Uploaddate,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.81,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.47,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Bath Song""[32]",Cocomelon – Nursery Rhymes,4.16,"May 2, 2018"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[33]",Miroshka TV,4.16,"February 27, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.93,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.49,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
19,20.,"""Faded""[45]",Alan Walker,3.08,"December 3, 2015"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.05,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""[54]",Adele,2.85,"October 22, 2015"
29,30.,"""Axel F""[55]",Crazy Frog,2.84,"June 16, 2009"

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [59]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.bcci.tv/"
webD.get(url)
time.sleep(2)

search_btn = webD.find_element_by_class_name('navigation__item  ')
search_btn.click()
time.sleep(2)

webD.find_element_by_class_name('drop-down__option  ').click()
time.sleep(2)

for _ in range(500):
    webD.execute_script("window.scrollBy(0,10000)")
    
dicty = {}
dicty['MatchTitle'] = []
dicty['Series'] = []
dicty['Place'] = []
dicty['Date'] = []
dicty['Time'] = []

elements1 = webD.find_elements_by_class_name('fixture__additional-info')

for i in elements1:
    dicty['Series'].append(i.text.split('\n')[0])
    dicty['Place'].append(i.text.split('\n')[1])
    
elements2 = webD.find_elements_by_class_name('fixture__full-date')

for i in elements2:
    j = i.text.split('\n')[0] + " " + i.text.split('\n')[1]
    dicty['Date'].append(j)
    dicty['Time'].append(i.text.split('\n')[2])
    
elements3 = webD.find_elements_by_class_name('fixture__teams')

for i in elements3:
    dicty['MatchTitle'].append(i.text.replace('\n', ' '))
    
bcci_df = pd.DataFrame({'Match Title': dicty['MatchTitle'], 'Series': dicty['Series'], 
                        'Place': dicty['Place'], 'Date': dicty['Date'], 'Time': dicty['Time']})

In [60]:
bcci_df

,Match Title,Series,Place,Date,Time
0,INDIA v NEW ZEALAND,Final,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,SRI LANKA v INDIA,1st ODI,"R Premadasa Stadium, Colombo",13 JULY,14:30 IST
2,SRI LANKA v INDIA,2nd ODI,"R Premadasa Stadium, Colombo",16 JULY,14:30 IST
3,SRI LANKA v INDIA,3rd ODI,"R Premadasa Stadium, Colombo",18 JULY,14:30 IST
4,SRI LANKA v INDIA,1st T20I,"R Premadasa Stadium, Colombo",21 JULY,19:00 IST
5,SRI LANKA v INDIA,2nd T20I,"R Premadasa Stadium, Colombo",23 JULY,19:00 IST
6,SRI LANKA v INDIA,3rd T20I,"R Premadasa Stadium, Colombo",25 JULY,19:00 IST
7,ENGLAND v INDIA,1st Test,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
8,ENGLAND v INDIA,2nd Test,"Lord's, London",12 AUGUST,15:30 IST
9,ENGLAND v INDIA,3rd Test,"Headingley, Leeds",25 AUGUST,15:30 IST
10,ENGLAND v INDIA,4th Test,"The Oval, London",02 SEPTEMBER,15:30 IST
11,ENGLAND v INDIA,5th Test,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [61]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.guru99.com/"
webD.get(url)
time.sleep(2)

elements = webD.find_elements_by_xpath('//li[@class = "fa fa-chevron-circle-right"]//a')
time.sleep(2)

urls = []
for i in elements:
    urls.append(i.get_attribute("href"))
    
dicty = {}
dicty['head'] = []
dicty['desc'] = []

for i in urls:
    
    webD.get(i)
    try:
        h = webD.find_element_by_class_name('page-header')
        dicty['head'].append(h.text)
    except NoSuchElementException:
        dicty['head'].append('-')
        
    try:
        elements = webD.find_element_by_class_name('item-page')
        string = elements.text.split("What should I know?")[0]
        try:
            string = string.split("Summary")[1]
        except:
            pass
        string.replace('\n','')            
        dicty['desc'].append(string)
    except NoSuchElementException:
        dicty['desc'].append('-')

In [63]:
guru99_df = pd.DataFrame({'Name': dicty['head'], 'Description': dicty['desc']})

In [64]:
guru99_df

,Name,Description
0,Software Testing Tutorial: Free QA Course,"\nIn this course, you will learn basic skills ..."
1,UFT/QTP Tutorial for Beginners: Learn in 7 Days,"\nIn this course, you will learn test automati..."
2,Selenium Tutorial for Beginners: Learn WebDriv...,\nSelenium is a popular open-source web-based ...
3,Free Mobile App Testing Tutorial,\nAndroid & iOS are the most popular mobile OS...
4,Cucumber Testing Tutorials for Beginners,\nBehavior Driven Development (BDD) is a risin...
...,...,...
134,PostgreSQL Tutorial for Beginners: Learn PSQL ...,\nThis PostgreSQL tutorial for beginners is de...
135,PL/SQL Tutorial: Learn Oracle PL/SQL in 7 Days,PL/SQL Tutorial: Learn Oracle PL/SQL in 7 Days...
136,DBMS Tutorial: Database Management System Notes,\nDatabase Management System (DBMS) is a colle...
137,MariaDB Tutorial for Beginners: Learn with EXA...,MariaDB Tutorial for Beginners: Learn with EXA...
138,MS SQL Server Tutorial for Beginners: Learn in...,\nThe SQL Server is a leading Relational Datab...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [65]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "http://statisticstimes.com/"
webD.get(url)
time.sleep(2)

In [66]:
elem = webD.find_elements_by_class_name('dropbtn')
elem[1].click()

In [68]:
elem1 = webD.find_elements_by_xpath('//div[@class = "dropdown-content"]//a')

for i in elem1:
    if "India" in i.text:
        i.click()
        break

In [77]:
elem2 = webD.find_elements_by_class_name('ec')

In [86]:
for i in elem2:
    if "GDP of Indian states" in i.text:
        i.click()
        break

In [87]:
elem3 = webD.find_elements_by_tag_name('td')

In [109]:
dicty = {}
dicty['Rank'] = []
dicty['State'] = []
dicty['GSDP1920'] = []
dicty['GSDP1819'] = []
dicty['Share1819'] = []
dicty['GDP'] = []

i = 4
while (i<267):
    dicty['Rank'].append(elem3[i].text)
    dicty['State'].append(elem3[i + 1].text)
    dicty['GSDP1920'].append(elem3[i + 2].text)
    dicty['GSDP1819'].append(elem3[i + 3].text)
    dicty['Share1819'].append(elem3[i + 4].text)
    dicty['GDP'].append(elem3[i + 5].text)
    i += 8

gdp_df = pd.DataFrame({'Rank': dicty['Rank'], 'State': dicty['State'], 
                        'GSDP1920': dicty['GSDP1920'], 'GSDP1819': dicty['GSDP1819'], 
                        'Share1819': dicty['Share1819'],  'GDP': dicty['GDP']})

In [110]:
gdp_df

   Rank                      State   GSDP1920   GSDP1819 Share1819      GDP
0     1                Maharashtra          -  2,632,792    13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208     8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764     8.39%  240.726
3     4                    Gujarat          -  1,502,899     7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127     7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898     5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586     4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957     4.57%  131.083
8     9                  Telangana    969,604    861,031     4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592     4.29%  122.977
10   11                     Kerala          -    781,653     4.14%  118.733
11   12                      Delhi    856,112    774,870     4.10%  117.703
12   13                    Haryana    831,610    734,163     3.89%  111.519
13   14                      Bihar    611,804    530,363     2.81%   80.562
14   15                     Punjab    574,760    526,376     2.79%   79.957
15   16                     Odisha    521,275    487,805     2.58%   74.098
16   17                      Assam          -    315,881     1.67%   47.982
17   18               Chhattisgarh    329,180    304,063     1.61%   46.187
18   19                  Jharkhand    328,598    297,204     1.57%   45.145
19   20                Uttarakhand          -    245,895     1.30%   37.351
20   21            Jammu & Kashmir          -    155,956     0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845     0.81%   23.369
22   23                        Goa     80,449     73,170     0.39%   11.115
23   24                    Tripura     55,984     49,845     0.26%    7.571
24   25                 Chandigarh          -     42,114     0.22%    6.397
25   26                 Puducherry     38,253     34,433     0.18%    5.230
26   27                  Meghalaya     36,572     33,481     0.18%    5.086
27   28                     Sikkim     32,496     28,723     0.15%    4.363
28   29                    Manipur     31,790     27,870     0.15%    4.233
29   30                   Nagaland          -     27,283     0.14%    4.144
30   31          Arunachal Pradesh          -     24,603     0.13%    3.737
31   32                    Mizoram     26,503     22,287     0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -         -        -

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [287]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://github.com/"
webD.get(url)
time.sleep(2)

elements = webD.find_elements_by_xpath('//summary[@class = "HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"]')
elements[1].click()
time.sleep(2)

elements1 = webD.find_elements_by_xpath('//li[@class = "edge-item-fix"]//a')

for i in elements1:
    link = i.get_attribute('href')
    if '/trending' in link:
        i.click()
        break
        
dicty = {}
dicty['Repositorytitle'] = []
dicty['Repositorydescription'] = []
dicty['Contributorscount'] = []
dicty['Language'] = []

elements2 = webD.find_elements_by_xpath('//h1[@class = "h3 lh-condensed"]//a')

for i in elements2:
    dicty['Repositorytitle'].append(i.text)
    
elements3 = webD.find_elements_by_xpath('//p[@class = "col-9 color-text-secondary my-1 pr-4"]')

for i in elements3:
    dicty['Repositorydescription'].append(i.text)

elements4 = webD.find_elements_by_xpath('//div[@class = "f6 color-text-secondary mt-2"]')

for i in elements4:
    dicty['Language'].append(i.text.split(" ")[0])
    dicty['Contributorscount'].append(i.text.split(" ")[2])

In [288]:
github_df = pd.DataFrame({'Repository title': dicty['Repositorytitle'], 'Repository description': dicty['Repositorydescription'], 
                          'Contributors count': dicty['Contributorscount'], 'Language': dicty['Language'],})
github_df

,Repository title,Repository description,Contributors count,Language
0,facebookresearch / AugLy,"A data augmentations library for audio, image,...",48,Python
1,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,"2,102",Python
2,megaease / easegress,A Cloud Native traffic orchestration system,192,Go
3,keras-team / keras,Deep Learning for humans,"18,731",Python
4,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,Built,"5,529"
5,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,"1,983",JavaScript
6,n8n-io / n8n,Free and open fair-code licensed node based Wo...,"1,325",TypeScript
7,harvester / harvester,Open source hyperconverged infrastructure (HCI...,195,Go
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",38,C++
9,longhorn / longhorn,Cloud-Native distributed block storage built o...,379,Shell
10,rancher / rancher,Complete container management platform,"2,239",Go
11,rustdesk / rustdesk,Yet another remote desktop software,477,Rust
12,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,45,Python
13,cariboulabs / cariboulite,CaribouLite turns any 40-pin Raspberry-Pi into...,12,C
14,willmcgugan / textual,A Text User Interface with Rich as the renderer,16,Python
15,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,488,TypeScript
16,apache / incubator-shenyu,ShenYu is High-Performance Java API Gateway.,"1,594",Java
17,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,Built,"16,122"
18,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,566,Assembly
19,bats3c / DarkLoadLibrary,LoadLibrary for offensive operations,35,C
20,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,474,Python
21,gohugoio / hugo,The world’s fastest framework for building web...,"5,957",Go
22,thanos-io / thanos,Highly available Prometheus setup with long te...,"1,279",Go
23,benthecoder / yt-channels-DS-AI-ML-CS,A comprehensive list of YouTube Channels for D...,Built,193
24,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,"1,439",Jupyter

### 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [338]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.billboard.com/"
webD.get(url)
time.sleep(2)

elem = webD.find_elements_by_xpath('//div[@class = "header__main-menu__wrapper flex--grow"]//ul//li//a')

link = elem[0].get_attribute('href')
webD.get(link)

elem1 = webD.find_elements_by_xpath('//div[@class = "charts-landing__info--view-chart"]')
elem1[0].click()

for _ in range(500):
    webD.execute_script("window.scrollBy(0,10000)")

dicty = {}
dicty['SongName'] = []
dicty['Artistname'] = []
dicty['Lastweekrank'] = []
dicty['Peakrank'] = []
dicty['Weeksonboard'] = []

elem2 =  webD.find_elements_by_xpath('//li[@class = "chart-list__element display--flex"]')

elem2[20].text.split("\n")

for i in elem2:
    l = i.text.split("\n")
    dicty['SongName'].append(l[2])
    dicty['Artistname'].append(l[3])
    dicty['Lastweekrank'].append(l[4])
    dicty['Peakrank'].append(l[5])
    dicty['Weeksonboard'].append(l[6])

In [339]:
billb_df = pd.DataFrame({'Song Name': dicty['SongName'], 
                          'Artist name': dicty['Artistname'], 
                          'Last week rank': dicty['Lastweekrank'], 
                          'Peak rank': dicty['Peakrank'], 
                          'Weeks on board': dicty['Weeksonboard']})

In [340]:
billb_df

,Song Name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [394]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.naukri.com/"
webD.get(url)
time.sleep(2)

elem1 = webD.find_elements_by_xpath('//div[@class = "mTxt"]')
elem1[1].click()

window_after = webD.window_handles[1]
webD.switch_to.window(window_after)

elem2 = webD.find_elements_by_xpath('//div[@class = "inpWrap"]//input')

elem2[0].send_keys('Data Science')

webD.find_element_by_id('qsbFormBtn').click()

elem3 = webD.find_elements_by_xpath('//div[@class = "recInfo"]')

dicty = {}
dicty['Name'] = []
dicty['Designation'] = []
dicty['Company'] = []
dicty['Skills'] = []
dicty['Location'] = []

for i in elem3:
    l = i.text.split("\n")
    dicty['Name'].append(l[0])
    dicty['Designation'].append(l[1])
    dicty['Company'].append(l[2])
    dicty['Skills'].append(l[5])
    dicty['Location'].append(l[3])

In [395]:
naukri_df = pd.DataFrame({'Name': dicty['Name'], 
                          'Designation': dicty['Designation'], 
                          'Company': dicty['Company'], 
                          'Skills hiring for': dicty['Skills'], 
                          'Location': dicty['Location']})

In [396]:
naukri_df

,Name,Designation,Company,Skills hiring for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,1 active jobs | Last active on 10-Oct-2017,Skills/Roles I hire for :
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,2 active jobs | Last active on 04-Nov-2016,Skills/Roles I hire for :
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [487]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
webD.get(url)
time.sleep(2)

for _ in range(500):
    webD.execute_script("window.scrollBy(0,10000)")
time.sleep(2)

dicty = {}
dicty['Title'] = []
dicty['Author'] = []
dicty['Sales'] = []
dicty['Publisher'] = []
dicty['Genre'] = []

In [488]:
elem2 = webD.find_elements_by_tag_name('td')
elem2 = elem2[1:]
details = []
i = 0
while (i<600):
    dicty['Title'].append(elem2[i+1].text)
    dicty['Author'].append(elem2[i+2].text)
    dicty['Sales'].append(elem2[i+3].text)
    dicty['Publisher'].append(elem2[i+4].text)
    dicty['Genre'].append(elem2[i+5].text)
    i += 6

In [489]:
guardian_df = pd.DataFrame({'Title': dicty['Title'], 
                          'Author': dicty['Author'], 
                          'Sales': dicty['Sales'], 
                          'Publisher': dicty['Publisher'], 
                          'Genre': dicty['Genre']})

In [490]:
guardian_df

,Title,Author,Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [550]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.imdb.com/list/ls095964455/"
webD.get(url)
time.sleep(2)

for _ in range(500):
    webD.execute_script("window.scrollBy(0,10000)")
    
time.sleep(2)

dicty = {}
dicty['Name'] = []
dicty['Yearspan'] = []
dicty['Genre'] = []
dicty['Runtime'] = []
dicty['Ratings'] = []
dicty['Votes'] = []

elem1 = webD.find_elements_by_class_name('lister-item-content')

In [551]:
for i in elem1:
    try:
        l = i.text.split("\n")
        dicty['Name'].append(l[0].split('(')[0][3:])
        dicty['Yearspan'].append(l[0].split('(')[1][:-1])
        dicty['Genre'].append(l[1].split('|')[2])
        dicty['Runtime'].append(l[1].split('|')[1])
        dicty['Ratings'].append(l[2])
        dicty['Votes'].append(l[6].split(':')[1]) 
    except:
        print(l)

In [552]:
imdb_df = pd.DataFrame({'Name': dicty['Name'],
                        'Yearspan': dicty['Yearspan'], 
                        'Genre': dicty['Genre'], 
                        'Runtime': dicty['Runtime'], 
                        'Ratings': dicty['Ratings'], 
                        'Votes': dicty['Votes']})

In [553]:
imdb_df

,Name,Yearspan,Genre,Runtime,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.3,"1,825,099"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"865,144"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"875,127"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.6,"262,911"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"224,306"
...,...,...,...,...,...,...
95,Reign,2013–2017,"Drama, Fantasy",42 min,7.5,"44,599"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"55,112"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8,"168,016"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"34,922"
99,. The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"191,730"

### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [111]:
webD = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://archive.ics.uci.edu/"
webD.get(url)
time.sleep(2)

In [112]:
elem = webD.find_elements_by_class_name('whitetext')

In [113]:
elem[3].click()

In [114]:
for _ in range(500):
    webD.execute_script("window.scrollBy(0,10000)")
time.sleep(2)

In [116]:
elem2 = webD.find_elements_by_tag_name("td")
#start = 30
#end = 5320

In [143]:
count = 1
for i in range(30,45):
    print(count)
    print(elem2[i].text)
    count +=1

1
Abalone
2
Multivariate
3
Classification
4
Categorical, Integer, Real
5
4177
6
8
7
1995
8
  Adult
9

10
Adult
11
Multivariate
12
Classification
13
Categorical, Integer
14
48842
15
14

In [147]:
dicty = {}
dicty['Name'] = []
dicty['DataTypes'] = []
dicty['DefaultTask'] = []
dicty['AttributeTypes'] = []
dicty['Instances'] = [] 
dicty['Attributes'] = [] 
dicty['Year'] = []

i = 30
while (i<5320):
    dicty['Name'].append(elem2[i].text)
    dicty['DataTypes'].append(elem2[i+1].text)
    dicty['DefaultTask'].append(elem2[i+2].text)
    dicty['AttributeTypes'].append(elem2[i+3].text)
    dicty['Instances'].append(elem2[i+4].text)
    dicty['Attributes'].append(elem2[i+5].text)
    dicty['Year'].append(elem2[i+6].text)
    i += 9

In [148]:
uci_df = pd.DataFrame({'Name': dicty['Name'], 
                          'DataTypes': dicty['DataTypes'], 
                          'DefaultTask': dicty['DefaultTask'], 
                          'AttributeTypes': dicty['AttributeTypes'], 
                          'Instances': dicty['Instances'], 
                          'Attributes': dicty['Attributes'], 
                          'Year': dicty['Year']})

In [149]:
uci_df

,Name,DataTypes,DefaultTask,AttributeTypes,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [ ]:
#END OF NOTEBOOK